# Go build outputs
/bin/
/build/
/*.exe
/*.exe~
/*.dll
/*.so
/*.dylib

# Go test outputs
*.test

# Go workspace files
*.out

# Environment files
.env
.env.local
.env.development
.env.test
.env.production

# API test files
api-test.*
api-test*/**

# Dependency directories
/vendor/

# IDEs / editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db